<ion-toolbar class="footer align-items-center">
  <ion-row class="info align-items-center justify-content-evenly">
    <ion-row class="item align-items-center">
      <ion-img 
        id="email"
        class="img"
        src="../../../assets/icon/email.svg"
      ></ion-img>
      <ion-label>galactic_bites@gmail.com</ion-label>
    </ion-row> 
    <ion-row class="item align-items-center">
      <ion-img 
        id="phone"
        class="img"
        src="../../../assets/icon/phone.svg"
      ></ion-img>
      <ion-label>937 324 123</ion-label>
    </ion-row>  
  </ion-row>
  <ion-row class="copyright align-items-center justify-content-center">
    copyright 2023 ©
  </ion-row>
</ion-toolbar>