<ion-content [fullscreen]="true" class="content"> 
  <app-space-background class="space"></app-space-background>
  <ion-grid class="home">
    <app-banner></app-banner>
    <app-page-section class="page" [name]="'Puntos'" [reverse]="false" [img]="'../../../assets/points-cover.png'" [fragment]="'points'"></app-page-section>
    <app-page-section class="page" [name]="'Descuentos'" [reverse]="true" [img]="'../../../assets/offers.png'" [fragment]="'discount'"></app-page-section>
  </ion-grid>
</ion-content>

<ion-footer class="footer">
  <app-footer></app-footer>
</ion-footer>