<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content [fullscreen]="true" class="content"> 
  <app-space-background class="space"></app-space-background>
  <ion-grid class="offers">
    <ion-card id="discount" class="section">
      <ion-card-header><ion-card-title>DESCUENTOS</ion-card-title></ion-card-header>
      <app-banner-carousel></app-banner-carousel>
      <ion-row class="wrapper ion-flex-wrap ion-justify-content-start">
        <ng-container *ngFor="let product of discounted">
          <app-product class="product"></app-product>
        </ng-container>
    </ion-row>
    </ion-card>
    <ion-card id="points" class="section">
      <ion-card-header><ion-card-title>PUNTOS</ion-card-title></ion-card-header>
      <ion-img [src]="'../../../assets/points.png'"></ion-img>
      <ion-row class="wrapper ion-flex-wrap ion-justify-content-start">
        <ng-container *ngFor="let product of pointed">
          <app-product class="product"></app-product>
        </ng-container>
    </ion-row>
    </ion-card>  
  </ion-grid>
</ion-content>

<ion-footer class="footer">
  <app-footer></app-footer>
</ion-footer>