@import '../../../theme/variables.scss';

.header {
    --ion-toolbar-background: $black;

    display: flex;
    flex-direction: row;
    align-items: center;

    box-sizing: border-box;

    height: 50px;
    width: 100%;
    background-color: $black;
    top: 0;

    .menu {
        color: $lavender;
    }

    #logo {
        width: 30px;
        height: 30px;
        margin-left: 1em;
    } 
        
    .i {
        cursor: pointer;
        font-size: 15pt;
        margin-right: 1em;

        &:hover { 
            transform: scale(1.1); 
            color: rgba($emerald, .7);
        }
        &:active { transform: scale(1); }
    }

    #user-pic {
        cursor: pointer;
        background-color: $white;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-inline: 0 10px;
        border: 1px solid $white;

        &:hover { transform: scale(1.05); }
        &:active { transform: scale(1); }
    }
}