<ion-toolbar class="header">
  <ion-row class="align-items-center justify-content-between">
    <ion-row class="align-items-center">
      <ion-img id="logo"
        src="../../../assets/icon/planet.svg"
      ></ion-img>
      <ion-list class="list">
        <ion-item class="item" lines="none"><ion-label class="page-link">INICIO</ion-label></ion-item>
        <ion-item class="item" lines="none"><ion-label class="page-link">MENÚ</ion-label></ion-item>
        <ion-item class="item" lines="none"><ion-label class="page-link">OFERTAS</ion-label></ion-item>
      </ion-list>
    </ion-row>

    <ion-row class="align-items-center">
      <ion-img id="shopping-cart"
        src="../../../assets/icon/shopping-cart.svg"
      ></ion-img>
      <ion-row class="align-items-center">
        <ion-grid>
          <ion-col class="points">
            <ion-label class="label">PUNTOS</ion-label>
            <ion-badge class="count">0</ion-badge>
          </ion-col>  
        </ion-grid>
        <ion-img id="user-pic"
          src="../../../assets/icon/user.png"
        ></ion-img>
      </ion-row>
    </ion-row>
  </ion-row>
</ion-toolbar>