@import '../../../theme/variables.scss';

.carousel {
    width: 100%;
    height: 30vw;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba($black, .2);
    --swiper-pagination-bullet-inactive-color: #FFF;

    .slide {
        width: 100%;
        height: 100%;

        ion-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}